@import "../../../../styles";

body{
  background-color: $blue;
  overflow: auto;
  position: relative;
}

.page-title{
  top: 1.5em;
}
.card{
  top: 5em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2em;
  border-radius: 0.3em;
  border: none;
  width: 140vh;
  height: auto;
}

.name{
  color: $blue;
  font-size: 1.2rem;
  font-weight: 500;
}

.bloc-buttons{
  margin-top: 1em;
}
.btn-dashboard{
  margin: 0.6em auto;
  width: 100%;
}

.btn-update{
  border: none;
  background-color: $blue;
  color: white;
}
.btn-update:hover{
  background-color: $blue-hover;
}
.btn-delete{
  border: 0.4em $grey;
  color: $grey;
}
.btn-delete:hover{
  background-color: $red;
  color: white;
}

.btn-redirect{
  width: 70%;
  border: none;
  background-color: $blue;
  color: white;
}

.btn-redirect:hover{
  background-color: $blue-hover;
}

.card-booked-product{
  background-color: $grey-bright;
  top: 0;
  margin: 0;
  padding: 0.3em 0.7em;
  width: 50vh;
}

.restaurant-name{
  font-size: 1rem;
  font-weight: 500;
  color: $blue;
}

.product-name .product-description .product-price{
  font-size: 0.7rem;
}
