<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer profil</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/scss" href="../../../../styles.scss">
</head>

<body *ngIf="currentUser">
<h1 class="page-title">Mon profil</h1>
<div class="card">
  <p class="name">{{ currentUser.first_name }} {{currentUser.last_name }}</p>
  <p class="address">{{ currentUser.address }} {{ currentUser.post_code }} {{ currentUser.city }}</p>
  <p class="email">{{ currentUser.email }}</p>
  <p class="phone">{{ currentUser.phone }}</p>
<div class="bloc-buttons">
  <button class="btn-account btn-update" type="button" (click)="openPopupToUpdate()">Modifier mes informations</button>
  <button class="btn-account btn-delete" type="button" (click)="openPopupToDelete()">Supprimer mon compte</button>
</div>
</div>

</body>
</html>
