  <h1 class="title">Créer un restaurant</h1>

  <form #form="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <input type="text" [(ngModel)]="newRestaurant.name" class="form-control" placeholder="Nom du restaurant" name="name" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="newRestaurant.description" class="form-control" placeholder="Description" name="description" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="newRestaurant.address" class="form-control" placeholder="Adresse" name="address" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="newRestaurant.post_code" class="form-control" placeholder="Code postal" name="postCode" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="newRestaurant.city" class="form-control" placeholder="Ville" name="city" required>
    </div>

    <div class="form-group">
      <input type="tel" [(ngModel)]="newRestaurant.phone" class="form-control" placeholder="Téléphone" name="phone" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="newRestaurant.website" class="form-control" placeholder="Site internet" name="website">
    </div>

    <div class="form-group">
      <button type="submit" class="btn"> Créer mon restaurant !</button>
      <div *ngIf="submitted && !form.form.valid" class="error-message">Tous les champs sont requis ! (excepté le site internet)</div>
    </div>
  </form>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
