<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Aucun restaurant enregistré !</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="redirectToDashboard()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Si vous souhaitez ajouter un restaurant, cliquez sur le bouton "ajouter un restaurant" dans la page profil.</p>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="redirectToDashboard()">Fermer</button>
  </div>
</div>
