@import "../../../styles";
@import "../../styles-form-popup";

body {
  background-color: $orange;
}

section{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20vh;
  background-color: white;
  border-radius: 2em;
  width: 70vh;
}

.title{
  padding-top: 1em;
  color: $orange;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
}

.form-control{
  background-color: rgb(248, 200, 166);
}

.error-message-login{
    top: 1em;
}

.btn {
  background: $orange;
}

.btn:hover {
  background: $orange-hover;
}
