<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/scss" href="../../../styles.scss">
</head>

<body>
<section>
<h1 class="title">Se connecter</h1>
<form>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="user.password" name="password">
  </div>
<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
  <button type="submit" class="btn" (click)="loginToAccount(user)">Go !</button>
</form>
</section>
</body>
</html>
