<button class="close-button" (click)="closePopup()">&times;</button>
<h1 class="title">Modifier mon restaurant</h1>
<form *ngIf="currentRestaurant" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Nom du restaurant</label>
    <input type="text" [(ngModel)]="updatedRestaurant.name" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="updatedRestaurant.description" class="form-control" name="description">
  </div>
  <div class="form-group">
    <label>Adresse</label>
    <input type="text" [(ngModel)]="updatedRestaurant.address" class="form-control" name="address">
  </div>
  <div class="form-group">
    <label>Code postal</label>
    <input type="text" [(ngModel)]="updatedRestaurant.post_code" class="form-control" name="postCode">
  </div>
  <div class="form-group">
    <label>Ville</label>
    <input type="text" [(ngModel)]="updatedRestaurant.city" class="form-control" name="city">
  </div>
  <label>Téléphone</label>
  <div class="form-group">
    <input type="tel" [(ngModel)]="updatedRestaurant.phone" class="form-control" name="phone">
  </div>
  <label>Site internet</label>
  <div class="form-group">
    <input type="text" [(ngModel)]="updatedRestaurant.website" class="form-control" name="website">
  </div>
  <button type="submit" class="btn"> Mettre à jour ! </button>
</form>

<div *ngIf="successMessage" class="success-message message">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="error-message message">{{ errorMessage }}</div>
