<html>
<head>
  <link rel="stylesheet" href="../../styles.css">
</head>

<body>
<h1 class="title">Créer un compte</h1>
<h2 class="sub-title">restaurateur</h2>

<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Prénom" required title="Veuillez remplir ce champ">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nom" required title="Veuillez remplir ce champ">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" required title="Veuillez remplir ce champ">
  </div>
  <div class="form-group">
    <input type="tel" class="form-control" placeholder="Téléphone" required title="Veuillez remplir ce champ">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Mot de passe" required title="Veuillez remplir ce champ">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required title="Veuillez remplir ce champ">
    <label class="form-check-label" for="exampleCheck1">J'accepte la politique de confidentialité</label>
  </div>
  <button type="submit" class="btn btn-primary">Go !</button>
</form>

</body>
</html>
