body{
  background-color: white;
  border-radius: 2em;
}
.title{
  padding-top: 1em;
  font-family: Helvetica, sans-serif;
  color: #317765;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
}

.sub-title{
  font-family: Helvetica, sans-serif;
  color: #317765;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
}

form{
  padding: 0.5em 2em 2em;
}
.form-group{
  margin-top: 0.6em;
}

.form-control{
  border-radius: 5em;
  border: 0;
  background-color: rgba(49, 119, 101, 0.4);
}

.form-control::placeholder{
  padding-left: 0.6em;
  color: white;
}

.form-check{
  padding-top: 1em;
  text-align: left;
}

.placeholder{
  color: white;
}

.btn-primary {
  background: #317765;
}

.btn-primary:hover {
  background: #184F40;
}
