<div class="detail-section">
  <button class="close-button" (click)="closePopup()">&times;</button>

  <h1 class="title">Réserver</h1>

<div class="card-restaurant" *ngIf="currentRestaurant">

  <div class="row">
    <div class="col-lg-6 col-md-3 col-sm-6">
      <p class="name">{{currentRestaurant.name}}</p>
      <p class="description">{{currentRestaurant.description}}</p>
      <p class="address">{{currentRestaurant.address}} {{currentRestaurant.post_code}} {{currentRestaurant.city}}</p>
      <p class="phone">{{currentRestaurant.phone}}</p>
    </div>

    <div class="col-lg-6 col-md-3 col-sm-6">
      <section class="product-selection">
        <p>Sélection :</p>
        <select class="form-select" [(ngModel)]="selectedProduct">
          <option disabled selected>Sélectionner une formule</option>
          <option *ngFor="let product of currentProducts" [ngValue]="product">{{product.name}} | {{product.description}} | {{product.price}} €</option>
        </select>
      </section>
      <p *ngIf="currentProducts.length === 0">Ce restaurant ne propose aucune formule pour le moment.</p>

    <button type="button" class="btn" [disabled]="!selectedProduct" (click)="clickToBook()">C'est parti !</button>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    </div>
  </div>
</div>
</div>
