@import "../../../../../styles";
@import "../../../styles-form-popup";

.title{
  padding-top: 0.6em;
  color: $blue;
}

.name{
  color: $blue;
  font-size: 1.2em;
  font-weight: 500;
}

.card-restaurant{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 1.5em 2.5em;
  border-radius: 0.3em;
  border: none;
  height: auto;
}

.btn {
  background: $blue;
  color: white;
}

.btn:hover {
  background: $blue-hover;
}
