@import "../../../styles";
@import "../styles-form";

.title{
  color: $salmon;
}
.form-control{
  background-color: rgba(227, 120, 92, 0.4);
}

.btn {
  background: $salmon;
}

.btn:hover {
  background: $salmon-hover;
}
