@import "../../../../../styles";
@import "../../../../styles-form-popup";


.btn-create-account {
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: $orange;
}

.btn-create-account:hover {
  background-color: $orange-hover;
}

.btn-login{
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: $salmon;
}

.btn-login:hover{
  background-color: $salmon-hover;
}