<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../../../styles.scss">
</head>

<body>
<div class="container mt-auto">
  <div class="row">
    <div class="col-md-6 col-sm-12 text-center">
      <img class="logo img-responsive" src="../../../assets/logo-last-resto-orange.png" alt="Logo Last Resto">
      <h1 class="title">Créer ton compte<br>aujourd’hui !</h1>
      <p class="sub-title">& réserve tes tables à la dernière minute</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <button class="btn-orange mb-4" type="button" (click)="showFormToCreateAccountCustomer()">Je suis un client</button>
      <button class="btn-green" type="button" (click)="showFormToCreateAccountRestaurant()">Je suis un restaurateur</button>
    </div>
  </div>
  <section class="images">
    <div class="container-fluid">

    <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <img class="img img-responsive" src="../../../assets/resto-1.jpg" alt="image resto 1">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <img class="img img-responsive" src="../../../assets/resto-2.jpg" alt="image resto 2">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <img class="img img-responsive" src="../../../assets/resto-3.jpg" alt="image resto 3">
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <img class="img img-responsive" src="../../../assets/resto-4.jpg" alt="image resto 4">
    </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <img class="img img-responsive" src="../../../assets/resto-5.jpg" alt="image resto 5">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <img class="img img-responsive" src="../../../assets/resto-6.jpg" alt="image resto 6">
      </div>

    </div>
  </div>
  </section>
</div>
</body>
</html>




