@import "../../../styles.scss";

body{
  background-color: $blue;
  margin-top: 0;
  overflow: auto;
  position: relative;
}

.restaurants-list{
margin-top: 6em;
}

.card-restaurant{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding: 1em;
}

.availability {
  position: absolute;
  margin: 0.5em;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  border-radius: 1em;
}

//.availability{
//  right: 2em;
//  position: absolute;
//  width: 1em;
//  height: 1em;
//  border-radius: 1em;
//
//  @media (min-width: 550px) {
//    right: 3.5em;
//  }
//  @media (min-width: 1100px) {
//    right: 4em;
//  }
//  @media (min-width: 1250px) {
//    right: 4.5em;
//  }
//  @media (min-width: 1400px) {
//    right: 5em;
//  }
//}

.name{
  color: $blue;
  font-size: 1.2rem;
  font-weight: 500;
}

.card-restaurant.last-card {
  margin-bottom: 10em !important;
}
