<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurants list</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/scss" href="../../../styles.scss">
</head>

<body>
<h1 class="page-title">Les restaurants</h1>
<div class="card col-lg-5 col-11" *ngFor="let restaurant of currentRestaurants; let i = index" (click)="openPopupDetailRestaurant(restaurant)" [class.last-card]="i === currentRestaurants.length - 1">
  <div class="availability" [ngStyle]="{'background-color': restaurant.is_available.data[0] === 1 ? 'green' : 'red'}"></div>
  <p class="name">{{ restaurant.name }}</p>
  <p class="city">{{ restaurant.city }}</p>
  <p class="description">{{ restaurant.description }}</p>
</div>

<div class="margin-bottom"></div>

<div class="nav-bar">
  <app-nav-bar-customer></app-nav-bar-customer>
</div>
</body>
</html>
