@import "../../../styles";

.nav-bar {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-radius: 1.2em 1.2em 0 0;
  background-color: $orange;
  z-index: 999;
  text-align: center;
  left: 32.5%
}

.navbar-expand-lg{
  padding: 0;
}
.navbar-nav .nav-link{
  padding: 1em;
}

.navbar-brand{
  margin-left: 2em;
  padding: 0;
}

.navbar-collapse{
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.8em;
  width: 3em;
  height: 3em;
  margin: 0.3em 3.5em;
}

.icon-profil {
  font-size: 1.6rem;
}
