@import "../../../styles";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-radius: 1.2em 1.2em 0 0;
  background-color: $orange;
  z-index: 999;
  text-align: center;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.8em;
  //background-color: white;
  width: 3.5em;
  height: 3.5em;
  margin: 0.2em 4em;
}

.icon-profil {
  font-size: 1.6em;
}
