<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Suppression du restaurant</h5>
    <button class="close-button" (click)="closePopup()">&times;</button>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûre de vouloir supprimer ce restaurant définitivement ?</p>
    <p>Si le restaurant a une ou des formules enregistrées, celles-ci seront supprimées également.</p>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-confirm" (click)="confirmToDelete()">Oui, supprimer</button>
    <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="closePopup()">Non, annuler</button>
    <div *ngIf="successMessage" class="success-message-delete">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  </div>
</div>
