<!--&lt;!&ndash;<h1>Profil</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<ng-container *ngIf="profilType === 'customer'">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-create-account-customer></app-create-account-customer>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;<ng-container *ngIf="profilType === 'restaurant owner'">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-composant-b></app-composant-b>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->


<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css">&ndash;&gt;-->
<!--&lt;!&ndash;  <link rel="stylesheet" href="../../../styles.scss">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->

<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<img class="img" src="../../../assets/resto-5-bandeau.jpg" alt="image resto">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-create"><app-create-account-customer></app-create-account-customer>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<button class="btn-back" type="button" (click)="returnToHomePage()">&ndash;&gt;-->
<!--&lt;!&ndash;  <i class="fas fa-arrow-left"></i>Retour en arrière</button>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->



<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css">-->
<!--  <link rel="stylesheet" href="../../../styles.scss">-->
<!--</head>-->

<!--<body>-->
<!--<img class="img" src="../../../assets/resto-5-bandeau.jpg" alt="image resto">-->
<!--<div class="form-create" *ngIf="userRole === 'customer'">-->
<!--  <app-create-account-customer></app-create-account-customer>-->
<!--</div>-->
<!--<div class="form-create" *ngIf="userRole === 'restaurant owner'">-->
<!--  <app-create-account-restaurant></app-create-account-restaurant>-->
<!--</div>-->
<!--<button class="btn-back" type="button" (click)="returnToHomePage()">-->
<!--  <i class="fas fa-arrow-left"></i>Retour en arrière</button>-->

<!--</body>-->
<!--</html>-->

