<body>
<h1 class="page-title">Mon profil restaurateur</h1>

<div class="card col-lg-9 col-10" *ngIf="currentUser.user_id">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <p class="name">{{ currentUser.first_name }} {{currentUser.last_name }}</p>
      <p class="email">{{ currentUser.email }}</p>
      <p class="phone">{{ currentUser.phone }}</p>
      <div class="bloc-buttons">
        <button class="btn-dashboard btn-update" type="button" (click)="openPopupToUpdate()">Modifier mes informations</button>
        <button class="btn-dashboard btn-delete" type="button" (click)="openPopupToDelete()">Supprimer mon compte</button>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Mon restaurant</h3>
      <section *ngIf="currentRestaurant.restaurant_id" class="restaurants-list-section">
        <div class="card-restaurant" (click)="showRestaurantPage(currentRestaurant.restaurant_id)">
          <div class="icons">
            <div class="restaurant-name">{{ currentRestaurant.name}}</div>
          </div>
        </div>
      </section>
      <button *ngIf="!currentRestaurant.restaurant_id" class="btn-dashboard btn-create-restaurant" type="button" (click)="openPopupToCreateRestaurant()">+ créer un restaurant</button>

    </div>

  </div>
</div>
<div class="nav-bar">
  <app-nav-bar-restaurant-owner></app-nav-bar-restaurant-owner>
</div>

</body>
