<section>
  <h1 class="title">Créer un compte</h1>
  <h2 class="sub-title">restaurateur</h2>

  <form #form="ngForm">

    <div class="form-group">
      <input type="text" [(ngModel)]="newUser.first_name" class="form-control" placeholder="Prénom" name="firstName" required>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="newUser.last_name" class="form-control" placeholder="Nom" name="lastName" required>
    </div>

    <div class="form-group">
      <input type="email" [(ngModel)]="newUser.email" class="form-control" placeholder="Email" name="email" required>
      <div *ngIf="errorMessageEmail" class="error-message">{{ errorMessageEmail }}</div>
    </div>

    <div class="form-group">
      <input type="tel" [(ngModel)]="newUser.phone" class="form-control" placeholder="Téléphone" name="phone" required>
      <div *ngIf="errorMessagePhone" class="error-message">{{ errorMessagePhone }}</div>
    </div>

    <div class="form-group">
      <input type="password" [(ngModel)]="newUser.password" class="form-control" placeholder="Mot de passe" name="password" required minlength="6">
      <div *ngIf="newUser.password && newUser.password.length < 6" class="error-message error-message-password">Le mot de passe doit contenir au moins 6 caractères.</div>
    </div>

<!--    <div class="form-check">-->
<!--      <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--      <label class="form-check-label" for="exampleCheck1">J'accepte la politique de confidentialité</label>-->
<!--    </div>-->
    <div class="form-group">
      <button type="submit" class="btn" (click)="onSubmit(form)"> Go ! </button>
      <div *ngIf="submitted && !form.form.valid" class="error-message">Tous les champs sont requis !</div>
    </div>
  </form>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</section>
