<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Confidentialité de Last Resto</title>
</head>

<body>
    <div class="card card-privacy">
    <h1 class="title">Politique de Confidentialité</h1>
    <p>Bienvenue sur Last Resto !</p>
    <p>Chez Last Resto, nous nous engageons à protéger la vie privée de nos utilisateurs. Cette Politique de Confidentialité explique comment nous recueillons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez notre site web et nos services de réservation de tables en restaurant. En utilisant nos services, vous acceptez les termes de cette Politique de Confidentialité.</p>
    <h3>1. Informations que nous recueillons</h3>
    <p>Nous collectons les informations suivantes lorsque vous utilisez notre site et nos services :</p>
    <h4 class="h4">1.1 Informations personnelles fournies par vous :</h4>
    <ul>
        <li><p>Nom et prénom</p></li>
        <li><p>Adresse e-mail</p></li>
        <li><p>Numéro de téléphone</p></li>
        <li><p>Adresse postale</p></li>
    </ul>
    <h4 class="h4">1.2 Informations automatiquement collectées :</h4>
    <ul>
        <li><p>Adresse IP</p></li>
        <li><p>Cookies et technologies similaires</p></li>
    </ul>

    <h3>2. Comment nous utilisons vos informations</h3>
    <p>Nous utilisons vos informations personnelles pour les finalités suivantes :</p>
    <h4 class="h4">2.1 Réservation de tables :</h4>
    <p>Nous utilisons vos informations pour traiter vos réservations de tables dans les restaurants partenaires de notre plateforme.</p>
    <h4 class="h4">2.2 Communication avec vous :</h4>
    <p>Nous pouvons utiliser votre adresse e-mail ou numéro de téléphone pour vous envoyer des confirmations de réservation, des rappels et des informations importantes concernant votre réservation.</p>
    <h4 class="h4">2.3 Amélioration de nos services :</h4>
    <p>Nous pouvons utiliser des informations agrégées et anonymisées pour analyser les tendances d'utilisation de notre site web et améliorer nos services.</p>
    <h3>3. Partage d'informations</h3>
    <p>Nous ne vendons pas, ne louons pas et ne partageons pas vos informations personnelles avec des tiers, sauf dans les circonstances suivantes :</p>
    <ul>
        <li><p>Avec les restaurants partenaires pour traiter votre réservation.</p></li>
        <li><p>Lorsque la loi l'exige ou lorsque cela est nécessaire pour protéger nos droits légaux.</p></li>
    </ul>

    <h3>4. Sécurité des données</h3>
    <p>Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction. Cependant, veuillez noter qu'aucune transmission de données sur Internet n'est totalement sécurisée, et nous ne pouvons pas garantir la sécurité de vos informations.</p>

    <h3>5. Durée de conservation des données</h3>
    <p>Nous conservons vos informations personnelles aussi longtemps que nécessaire pour fournir nos services et respecter nos obligations légales. Lorsque vous supprimez votre compte, vos informations personnelles sont supprimées de notre base de données.</p>

    <h3>6. Vos droits</h3>
    <p>Vous avez le droit de :</p>
    <ul>
        <li><p>Accéder à vos informations personnelles et les corriger.</p></li>
        <li><p>Demander la suppression de vos informations personnelles (en supprimant votre compte).</p></li>
    </ul>

    <h3>7. Modifications de la Politique de Confidentialité</h3>
    <p>Nous pouvons mettre à jour cette Politique de Confidentialité de temps à autre pour refléter les changements dans nos pratiques de traitement des données. La date de la dernière mise à jour sera indiquée en bas de cette page.</p>

    <h3>8. Nous contacter</h3>
    <p>Si vous avez des questions ou des préoccupations concernant notre Politique de Confidentialité, vous pouvez nous contacter à l'adresse suivante : contact@lastresto.fr.</p>
    <p>Merci d'utiliser Last Resto pour vos réservations de tables en restaurant. Nous sommes déterminés à protéger votre vie privée et à vous offrir une expérience agréable et sécurisée.</p>

    <p><em>Dernière mise à jour de la Politique de Confidentialité : 13/09/2023</em></p>
</div>
</body>

</html>
