<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup customer</title>
  <link rel="stylesheet" href="../../../../styles.scss">
</head>

<body>
<img class="img" src="../../../../assets/resto-5-bandeau.jpg" alt="image resto">
<div class="form-create"><app-create-account-customer></app-create-account-customer>
</div>
<button class="btn-back" type="button" (click)="returnToHomePage()">
  <i class="fas fa-arrow-left"></i>Retour en arrière</button>

</body>
</html>
