@import "../../../../styles";
@import "../styles-nav-bar";

.navbar {
  width:40%;
}

.btn-icon {
  color: $green;
}

.btn-icon:hover{
  background-color: $green;
  color: white;
}

//.icon-list .icon-restaurant .bi .bi-list-check{
//  font-size: 4em;
//}
