<body>
<h1 class="page-title">Mon restaurant : {{currentRestaurant.name}}</h1>

<div class="card col-lg-9 col-10" *ngIf="currentRestaurant.restaurant_id">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3 class="restaurant-name">{{currentRestaurant.name}}</h3>
      <p class="restaurant-description">{{currentRestaurant.description}}</p>
      <p>Adresse : {{currentRestaurant.address}} {{currentRestaurant.post_code}} {{currentRestaurant.city}}</p>
      <p>Téléphone : {{currentRestaurant.phone}}</p>
      <p *ngIf="currentRestaurant.website">Site web : {{currentRestaurant.website}}</p>
      <div class="bloc-buttons">
        <button class="btn-dashboard btn-update" type="button" (click)="openPopupToUpdate()">Modifier</button>
        <button class="btn-dashboard btn-delete" type="button" (click)="openPopupToDelete()">Supprimer ce restaurant</button>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <section class="details-restaurant-section">
        <div class="card-detail">
          <div class="form-check form-switch">
            <div class="row">
              <div class="col-9">
                <h4 class="form-check-label text-availability" for="flexSwitchCheckDefault">Disponibilité</h4>
              </div>
              <div class="col-2">
                <input class="form-check-input switch" type="checkbox" [(ngModel)]="isAvailable" (change)="updateAvailability()" role="switch" id="flexSwitchCheckDefault">
              </div>
              <div *ngIf="successMessage" class="success-message success-message-available">{{ successMessage }}</div>
              <div *ngIf="errorMessage" class="error-message error-message-available">{{ successMessage }}</div>

            </div>
          </div>
        </div>
        <div class="products-section">
          <div class="card-detail">
            <h4 class="products-title">Les formules</h4>
            <div class="card-product" *ngFor="let product of currentProducts">
              <p class="product-name">{{product.name}}</p>
              <p class="product-description">{{product.description}}</p>
              <p class="product-price">{{product.price}} €</p>
              <button class="btn-icon" (click)="deleteProduct(product)">
                <i class="bi bi-trash3"></i>
              </button>
            </div>

            <div *ngIf="currentProducts.length === 0">
              <p>Vous n'avez créé aucune formule enregistrée pour ce restaurant.</p>
            </div>

            <button class="btn-dashboard btn-create-product" type="button" (click)="openPopupToCreateProduct()">+ créer un produit</button>

          </div>
        </div>
      </section>

    </div>

  </div>
  <div class="reservations-list">
    <div class="card-reservations">
      <h4 class="reservations-title">Mes réservations</h4>

      <div class="card-reservation" *ngIf="userHasReserved">
        <p class="reservation-user-name">Nom du client : {{userHasReserved.first_name}} {{userHasReserved.last_name}}</p>
        <p class="reservation-user-productReserved" *ngIf="productReserved">Formule réservée : {{productReserved.name}}</p>
      </div>

      <div *ngIf="!userHasReserved">
        <p>Vous n'avez encore reçu aucune réservation.</p>
      </div>

    </div>
  </div>
  <div class="nav-bar">
    <app-nav-bar-restaurant-owner></app-nav-bar-restaurant-owner>
  </div>
</div>
</body>
