@import "../../../styles.scss";

body{
  background-color: $green;
  margin-top: 0;
}

.page-title{
  top: 1.5em;
}
.card-restaurant{
  top: 5em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2em;
  border-radius: 0.3em;
  border: none;
  width: 215vh;
  height: auto;
}

.restaurant-name{
  color: $green;
}

.restaurant-description{
  margin-right: 5em;
  font-weight: 400;
}
.bloc-buttons{
  margin-top: 1em;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.btn-dashboard{
  width: 75%;
}

.btn-update{
  border: none;
  background-color: $green;
  color: white;
}
.btn-update:hover{
  background-color: $green-hover;
}
.btn-delete{
  border: 0.4em $grey;
  color: $grey;
}
.btn-delete:hover{
  background-color: #dc2d2d;
  color: white;
}

.details-restaurant-section{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.card-detail{
  position: relative;
  top: 1.2em;
  background-color: $grey-bright;
  padding: 0.4em 1em;
  border-radius: 0.3em;
  border: none;
  color: white;
  margin: 0.5em;
}
.text-availability{
  margin-bottom: 0;
  color: $green;
  display: flex;
  align-items: center;
}
.form-switch{
  padding-left: 0;
}

.form-check{
  margin-bottom: 0;
}
.form-check-input{
  position: relative;
  right: 1.5em;
  width: 3.5em;
  margin-left: 0;
}

.form-check-input:checked{
  background-color: green;
  border: none;
}

.card-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5em;
  margin-bottom: 0.6em;
}

.products-title{
  color: $green;
}

.product-name{
  color: $green;
  font-weight: 500;
  margin-bottom: 0;
}

.product-description{
  color: $green;
  font-weight: 300;
  margin-bottom: 0;
}

.product-price{
  color: $green;
  margin-bottom: 0;
}

.btn-create-product{
  border: none;
  color: white;
  font-weight: 400;
  background-color: $green-light;
}
.btn-create-product:hover{
  background-color: $green;
  color: white;
}
